.middle-img{
    height: 750px;
    width: 100%;
  }
  .center{
    float: center;
    margin-left: 500px;
  }

  
  .middle-container{
    position: relative;
    /* top: 70px; */
  }
  .middle-h2{
    position: absolute;
    top: 10%;
    left: 30%;
    color: #fff;
  }
  .middle-p{
    position: absolute;
    bottom: 8%;
    left: 35%;
    font-size: 1.5rem;
    color: #fff;
  }
  .bottom-container{
    float: center;
    clear: both;
    width: 100%;
    position: relative;
    margin: 7% 50% 7% 7%;
  }
  .card{
    margin: 20px;
  }
  .burger-img, .biryani-img, .pizza-img{
    width: 100%;
  }
  .pizza-img{
    height: 240px;
  }
  .bottom-p{
    position: absolute;
    left: 30%;
    margin-top: 40px;
  }
  
  .icon{
    display: inline;
    margin: 10px;
  }